<div class="container my-3">
    <div class="d-flex justify-content-between">
        <h1>Todo List</h1>
        <button class="btn btn-secondary" [routerLink]="['/todo/add', project_id]">Add Todo</button>
    </div>
    <div class="main">
        <div class="row">
            @for (todo of todoList; track todo._id) {
            <div class="col-md-4">
                <div class="ag-courses_item">
                    <a class="ag-courses-item_link">
                      <div class="ag-courses-item_bg"></div>
              
                      <div class="ag-courses-item_title">
                        {{todo.todoName}}
                      </div>
              
                      <div class="ag-courses-item_date-box">
                        Created At:
                        <span class="ag-courses-item_date">
                          {{todo.createdAt | date}}
                        </span>
                      </div>
                      <div class="ag-courses-item_date-box d-flex justify-content-evenly pt-3">
                        <span class="" [routerLink]="['/todo/update', todo._id]">Update</span>
                        <span class="" (click)="DeleteTodo(todo._id)">Delete</span>
                      </div>
                    </a>
                  </div>

            </div>
        }
        </div>
        <!-- <div class="ag-format-container">
            <div class="ag-courses_box">

              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    UI/Web&amp;Graph design for teenagers 11-17&#160;years old
                  </div>
          
                  <div class="ag-courses-item_date-box">
                    Start:
                    <span class="ag-courses-item_date">
                      04.11.2022
                    </span>
                  </div>
                </a>
              </div>
          
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    UX/UI Web-Design&#160;+ Mobile Design
                  </div>
          
                  <div class="ag-courses-item_date-box">
                    Start:
                    <span class="ag-courses-item_date">
                      04.11.2022
                    </span>
                  </div>
                </a>
              </div>
          
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    Annual package "Product+UX/UI+Graph designer&#160;2022"
                  </div>
          
                  <div class="ag-courses-item_date-box">
                    Start:
                    <span class="ag-courses-item_date">
                      04.11.2022
                    </span>
                  </div>
                </a>
              </div>
          
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    Graphic Design
                  </div>
          
                  <div class="ag-courses-item_date-box">
                    Start:
                    <span class="ag-courses-item_date">
                      04.11.2022
                    </span>
                  </div>
                </a>
              </div>
          
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    Motion Design
                  </div>
          
                  <div class="ag-courses-item_date-box">
                    Start:
                    <span class="ag-courses-item_date">
                      30.11.2022
                    </span>
                  </div>
                </a>
              </div>
          
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    Front-end development&#160;+ jQuery&#160;+ CMS
                  </div>
                </a>
              </div>
          
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg">
                  </div>
                  <div class="ag-courses-item_title">
                    Digital Marketing
                  </div>
                </a>
              </div>
          
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    Interior Design
                  </div>
          
                  <div class="ag-courses-item_date-box">
                    Start:
                    <span class="ag-courses-item_date">
                      31.10.2022
                    </span>
                  </div>
                </a>
              </div>
          
            </div>
          </div> -->
    </div>
</div>